@import url(./reset.css);

ul{
  list-style-type: none;
}

:root{
  --primary-100: #F1F8E8;
  --primary-200: #D8EFD3;
  --primary-400: #95D2B3;
  --primary-600: #55AD9B;
}

.main-container-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  background-color: var(--primary-400);
  padding-inline: 8em;
}

.nav-ul{
  display: flex;
  gap: 2rem;
}

.nav-item{
  color: var(--primary-200);
  text-decoration: none;
}

.main-container{
  margin-block: 3rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  color: var(--primary-200);
  background-color: var(--primary-400);
  padding-block: 2rem;
}

h1{
  font-family: 'my-font-bold';
}

form{
  /* width: 50%; */
  border: 1px solid var(--primary-600);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1rem;
}

.search-by-name{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  border: 1px solid #1565C0;
  padding: 2rem;
}

/* .filters{
  display: flex;
  gap: 1rem;
} */

.filters-buttons{
  display: flex;
  border: 2px solid var(--primary-200);
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 1rem;
  gap: 1rem;
}

.todo-list{
  padding-inline-start: 0px;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2em;
  /* align-items: center; */
}

.todo-list li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--primary-200);
  padding: 1rem;
  background-color: var(--primary-200);
  border-radius: 0.5rem;
}

.todo-list li div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap:0.3rem; */
}

label{
  color: green;
  cursor: pointer;
  
}

a{
  text-decoration: none;
  cursor: pointer;
}

.statistics-container{
  border: 1px solid var(--primary-600);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5rem;
  /* align-items: center; */
}

.statistic-item p{
  color: var(--primary-200);
}

.progress-bar-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.progress-bar{
  width: 70%;
  height: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: rgb(204, 229, 239);
}
.progress-bar-fill{
  background-color: rgb(50, 145, 189);
  height: 100%;
  border-radius: 1rem;
}
.precentage{
  color: rgb(50, 145, 189);
}

.create-modal{
  width: 20rem;
  height: 20rem;
}

.sidenav {
  height: 100%;
  width: 7rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(77, 47, 47);
  overflow-x: hidden;
  padding: 1rem;
}

.sidenav a {
  padding: 1rem;
  text-decoration: none;
  /* font-size: 25px; */
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.side-bar-btn{
  margin-left: 9rem;
}
